* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.cont {
  background-color: grey;
  text-align: center;
  height: 50dvh;
}
.fetch-btn {
  color: rgba(0, 0, 255, 0.836);
  padding: 1rem;
  margin-top: 1rem;
  color: greenyellow;
  font-weight: 900;
  background-color: black;
  outline: none;
  border: none;
  border-radius: 4px;
}
.fact {
  color: green;
  max-width: 50%;
  margin: auto;
  display: grid;
  place-items: center;
  font-size: larger;
  height: 50%;
  background-color: wheat;
  border-radius: 12px;
}
