* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: yellow;
  height: 10dvh;
}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 10dvh;
  margin-top: auto;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
.App {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
a {
  font-size: clamp(1rem, 2.5vw, 5rem);
}
.green {
  color: green;
  font-size: 4rem;
}
.red {
  color: red;
  font-size: 9rem;
}
.grey {
  color: grey;
  font-size: 4rem;
}
