* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: yellow;
  height: 10dvh;
}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 10dvh;
  margin-top: auto;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
.App {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
a {
  font-size: clamp(1rem, 2.5vw, 5rem);
}
.green {
  color: green;
  font-size: 6rem;
}
.red {
  color: red;
  font-size: 6rem;
}
.grey {
  color: grey;
  font-size: 6rem;
}
.blue {
  font-size: 6rem;
  color: blue;
}
.list {
  width: 90dvw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  background-color: rgb(255, 240, 241);
}
.card img {
  width: 90%;
  height: 80%;
  object-fit: cover;
}
.card {
  margin: 2rem;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 425px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(80, 42, 219);
  }
}
@media (min-width: 768px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(42, 219, 42);
  }
}
